.themes{
	display: flex;
	justify-content: space-between;
	.col{
		//max-width: 50%;
		//&:nth-child(1){padding-right: $padding3}
	}
	.theme{
		cursor: pointer;
		min-width: calc(50vw - 40px);
		max-width: calc(50vw - 40px);
		
		.item-heading{
			.item-heading-header{
				@include flexbox();
			}
			h2{
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				text-transform: uppercase;
			}
			.deco{
				pointer-events: none;
				//width: 40px; height: 40px;
				position: fixed!important;
				left: 50%; top: 50%;
				display: none;
				//display: flex;
				z-index: 9999;
				//@include anime();
				img{
					margin: auto;
					max-width: 100%;
					max-height: 100%;
					&.img404{display: none;}
				}
				
			}
			.metas{
				display: flex;
				justify-content: flex-end;
				img{display: none;}
			}
			&:hover{
				.deco{
					width: 100vw; height: 100vh;
					display: flex;
					//transform: translate(-50%,-50%) scale(.5,.5);
					transform: translate(-50%,-50%) scale(1,1);
				}
			}
		}
		.item-body{
			display: none;
			.mix{
				.track{
					color: $red;
					border-bottom: $border solid;
					position: relative;
					.track-name{
						overflow: hidden;
						position: relative;
  						min-height: 42px;
  						//text-transform: uppercase;
						.autoradio{
							position: absolute;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
							width: 100%;
							//animation: all 5s linear infinite;
						}
						span{color: $color}
					}
					.action{
						display: flex;
						justify-content: flex-end;
						.pause{display: none;}
						.time{
							display: none;
							.seconds{color: $purple}
						}
					}
					.scrubber{
						height: 3px;
						width: 0;
						position: absolute;
						bottom: 0;
						background-color: $red;
						@include anime(); 

					}
					&:not(.is-playing){
						.scrubber{width: 0!important}
					}
					&:hover{
						//color: $purple;
						.autoradio{
							text-overflow:initial;
							overflow-x: auto;
							width: auto;
							animation: autoradio 5s linear infinite;
							//span{color: $red;}
						}
						.action{
							.time{display: none;}
							//.pause{display: block;}
						}
					}

					&.is-playing{
						//color: $purple;
						.autoradio{
							text-overflow:initial;
							overflow-x: auto;
							width: auto;
							animation: autoradioFull 5s linear infinite;
						}
						.action{
							.play{display: none;}
							.time{display: block;}
						}
						&:hover{
							.time{display: none;}
							.pause{display: block;}
						}
					}

					&.is-pause{
						&:hover{
							.time{display: none;}
							.pause{display: none;}
							.play{display: block;}
						}
					}
					
				}
			}
			.contrib{
				//background-color: $purple;
				height: 78px;
				border-bottom: $border solid $purple;
				form{
					@include flexbox();
					justify-content: space-between;
					input{
						background-color: transparent;
						color: $purple;
						@include _placeholder($purple);
						&[type=text]{
							padding: 5px 9px 6px 0;
							min-width: 80%;
						}
						&[type=submit]{padding: 1px 0px 10px;}
					}
				}
			}
		}

		&:hover{
			.item-heading{
				h2{
					color: $red
				}
				
				.duration{display: none;}
				.pause{display: none;}
				.play{display: block;}
			}
		}
		&.active{
			.item-heading{
				border-bottom: $border solid;
				//.deco{display: flex}
				.duration{display: block!important;}
				//.pause{display: none;}
				//.play{display: none;}
			}
			.item-body{
				display: block;
			}
			&:hover{
				.item-heading{
					//.duration{display: none!important;}
					.play{display: none;}
					.pause{display: none;}
				}
			}
		}
	}
	
}
@keyframes autoradio {
    0%   { transform: translate(0%, 0); }
    100%   { transform: translate(-100%, 0); }
}

@keyframes autoradioFull {
    0%   { transform: translate(100%, 0); }
    100%   { transform: translate(-100%, 0); }
}