.hidden-xs{display: none;}
.visible-xs{display: none;}
@media screen and (max-device-width: 640px) {

	.visible-xs{display: block;}
	
	html, body,
	h1, h2, h3{
		font-size: $font0;
	}
	.play,
	.pause{max-height: 20px;}
	
	header{
		height: 52px!important;
		.description{display: none;}
		#search-wrap{display: none;}

		.burger{
			position: fixed;
			top: 27px;
			right: $padding2;
			z-index: 99999;
			@include burger(20px, 1px, 5px, #fff);
			&.is-active{
				@include burger-to-cross;
			}
		}

		
	}

	#page{
		padding-top: 65px;
	}
	.themes{
		flex-direction: column;
		.theme{
			min-width: 100%;
			max-width: 100%;
			.item-body{
				.mix{
					.track{
						.track-name{min-height: 24px;}
					}
				}
			}
		}
	}
	
}
