/* BASE VARIABLES
 *******************/

/* Sizes */
$max-width: 1800px;
$footerheight: 50px;

/* Colors */
$color: #9428f0;
$links: gray;
$hover: gray;

/* Fonts */
$font: "Basis Grotesque", helvetica, monospace, sans-serif;

$font0: 20px;
$font1: 35px;
$font1-ls: 27px;



/* Borders */
$border: 1px;

/* Colors */
$red: #f01644;
$blue: #0014ff;
$green: #4fff5e;
$purple: #9428f0;

/* PADDINGS */
$padding1: 10px;
$padding2: 20px;
$padding3: 40px;

$marge1: 10px;
$marge2: 20px;
$marge3: 40px;

$gutter: 0.5em;
$mobile-gutter: 13px;

$headerHeight: 100px;

/* Breakpoints */
$cap: 1920px;
$m: 850px;
$s: 740px;
$xs: 500px;