#deco

div.stripe.stripe-left
    .bg-red
    .bg-purple

div.stripe.stripe-right
    .bg-green
    .bg-blue


.logo(data-idx='1')
    img(src="/img/dancing-note-1.svg" class="dancing-note-1")
    img(src="/img/dancing-note-2.svg" class="dancing-note-2")
    img(src="/img/dancing-note-3.svg" class="dancing-note-3")

                
#player