doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    <title>MONO MIX</title>
    meta(name="description" content="Themes based music research")
    meta(property="og:title" content="MONO MIX")
    meta(property="og:description" content="Themes based music research")
    meta(property="og:url" content="http://5.196.12.161:3006/")
    meta(property="og:image" content="http://5.196.12.161:3006/img/share.jpg")
    meta(property="og:site_name" content="MONO MIX")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:image:alt" content="http://5.196.12.161:3006/img/share.jpg")


    block css
      link(rel='stylesheet', href='/css/style.css')
    block js
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
      script(src='/js/vendor/modernizr.min.js')
  body.loading

    #page
      header
        include header
      
      block content

      footer
        include footer
      #loader
        img(src="img/loader.png")
      
      //include footer


    script(src='/js/vendor/jquery.min.js')
    
    //- script(src='/js/vendor/smooth-state.js')
    script(src='/js/_plugins.js')
    script(src='/js/YoutubePlayer.js')
    script(src='/js/player.js')
    script(src='/js/search-controller.js')

    script(src='/js/app.js')
    //-script(src='/js/functions.min.js')

