doctype html
html(lang='en' prefix="og: http://ogp.me/ns#")
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title= title

        link(rel="apple-touch-icon" sizes="57x57" href="/img/icons/apple-icon-57x57.png")
        link(rel="apple-touch-icon" sizes="60x60" href="/img/icons/apple-icon-60x60.png")
        link(rel="apple-touch-icon" sizes="72x72" href="/img/icons/apple-icon-72x72.png")
        link(rel="apple-touch-icon" sizes="76x76" href="/img/icons/apple-icon-76x76.png")
        link(rel="apple-touch-icon" sizes="114x114" href="/img/icons/apple-icon-114x114.png")
        link(rel="apple-touch-icon" sizes="120x120" href="/img/icons/apple-icon-120x120.png")
        link(rel="apple-touch-icon" sizes="144x144" href="/img/icons/apple-icon-144x144.png")
        link(rel="apple-touch-icon" sizes="152x152" href="/img/icons/apple-icon-152x152.png")
        link(rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-icon-180x180.png")
        link(rel="icon" type="image/png" sizes="192x192"  href="/img/icons/android-icon-192x192.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="96x96" href="/img/icons/favicon-96x96.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png")
        link(rel="manifest" href="/img/icons/manifest.json")
        meta(name="msapplication-TileColor" content="#9428f0")
        meta(name="msapplication-TileImage" content="/img/icons/ms-icon-144x144.png")
        meta(name="theme-color" content="#9428f0")
      
        meta(name="description" content="Themes based music research")
        meta(property="og:type" content="website")
        meta(property="og:title" content="#{title}")
        meta(property="og:description" content="Themes based music research")
        meta(property="og:url" content="http://m-o-n-o-m-i-x.com")
        meta(property="og:image:url" content="http://m-o-n-o-m-i-x.com/img/share.jpg")
        meta(property="og:image:alt" content="http://m-o-n-o-m-i-x.com/img/share.jpg")
        meta(property="og:image:type" content="image/jpeg")
        meta(property="og:image:width" content="2048")
        meta(property="og:image:height" content="1162")
        meta(property="og:site_name" content="#{title}")
        meta(name="twitter:card" content="summary_large_image")
        meta(name="twitter:image:alt" content="http://m-o-n-o-m-i-x.com/img/share.jpg")


        block css
            link(rel='stylesheet', href='/css/style.css')
        block js
            if ENV_DEVELOPMENT
                script(src='http://localhost:35729/livereload.js')
            script(src='/js/vendor/modernizr.min.js')
    
    body.loading

        #page
            header
                include header
      
            block content

            footer
                include footer
      
            #loader
                .inner
                    video(autoplay loop id="video")
                        source(src="/img/monomix-loader.mp4" type="video/mp4")
      
  

   
        script(src='/js/dist/vendor.min.js')
        script(src='/js/dist/app.min.js')

